<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ke.mall.service.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="com.ke.mall.model.Brand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="firstLetter" jdbcType="VARCHAR" property="firstLetter" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="factoryStatus" jdbcType="INTEGER" property="factoryStatus" />
    <result column="showStatus" jdbcType="INTEGER" property="showStatus" />
    <result column="productCount" jdbcType="INTEGER" property="productCount" />
    <result column="productCommentCount" jdbcType="INTEGER" property="productCommentCount" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="bigPic" jdbcType="VARCHAR" property="bigPic" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ke.mall.model.Brand">
    <result column="brand_story" jdbcType="LONGVARCHAR" property="brandStory" />
  </resultMap>
    
  <sql id="Base_Column_List">
    id, name, firstLetter, sort, factoryStatus, showStatus, productCount, productCommentCount, 
    logo, bigPic
  </sql>
  <sql id="Blob_Column_List">
    brand_story
  </sql>

  <select id="findAll" resultType="com.ke.mall.model.Brand">
    select * from brand;
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ke.mall.model.Brand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand (name, firstLetter, sort, 
      factoryStatus, showStatus, productCount, 
      productCommentCount, logo, bigPic, 
      brand_story)
    values (#{name,jdbcType=VARCHAR}, #{firstLetter,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{factoryStatus,jdbcType=INTEGER}, #{showStatus,jdbcType=INTEGER}, #{productCount,jdbcType=INTEGER}, 
      #{productCommentCount,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{bigPic,jdbcType=VARCHAR}, 
      #{brand_story,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ke.mall.model.Brand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="firstLetter != null">
        firstLetter,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="factoryStatus != null">
        factoryStatus,
      </if>
      <if test="showStatus != null">
        showStatus,
      </if>
      <if test="productCount != null">
        productCount,
      </if>
      <if test="productCommentCount != null">
        productCommentCount,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="bigPic != null">
        bigPic,
      </if>
      <if test="brand_story != null">
        brand_story,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null">
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="factoryStatus != null">
        #{factoryStatus,jdbcType=INTEGER},
      </if>
      <if test="showStatus != null">
        #{showStatus,jdbcType=INTEGER},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=INTEGER},
      </if>
      <if test="productCommentCount != null">
        #{productCommentCount,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="brand_story != null">
        #{brand_story,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ke.mall.model.Brand">
    update brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null">
        firstLetter = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="factoryStatus != null">
        factoryStatus = #{factoryStatus,jdbcType=INTEGER},
      </if>
      <if test="showStatus != null">
        showStatus = #{showStatus,jdbcType=INTEGER},
      </if>
      <if test="productCount != null">
        productCount = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="productCommentCount != null">
        productCommentCount = #{productCommentCount,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        bigPic = #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="brand_story != null">
        brand_story = #{brand_story,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ke.mall.model.Brand">
    update brand
    set name = #{name,jdbcType=VARCHAR},
      firstLetter = #{firstLetter,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      factoryStatus = #{factoryStatus,jdbcType=INTEGER},
      showStatus = #{showStatus,jdbcType=INTEGER},
      productCount = #{productCount,jdbcType=INTEGER},
      productCommentCount = #{productCommentCount,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      bigPic = #{bigPic,jdbcType=VARCHAR},
      brand_story = #{brand_story,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ke.mall.model.Brand">
    update brand
    set name = #{name,jdbcType=VARCHAR},
      firstLetter = #{firstLetter,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      factoryStatus = #{factoryStatus,jdbcType=INTEGER},
      showStatus = #{showStatus,jdbcType=INTEGER},
      productCount = #{productCount,jdbcType=INTEGER},
      productCommentCount = #{productCommentCount,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      bigPic = #{bigPic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>