<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ke.mall.service.mapper.PmsBrandMapper">
  <resultMap id="BaseResultMap" type="com.ke.mall.model.PmsBrand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="firstLetter" jdbcType="VARCHAR" property="firstLetter" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="factoryStatus" jdbcType="TINYINT" property="factoryStatus" />
    <result column="showStatus" jdbcType="TINYINT" property="showStatus" />
    <result column="proCount" jdbcType="INTEGER" property="proCount" />
    <result column="commentCount" jdbcType="INTEGER" property="commentCount" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="picLoc" jdbcType="VARCHAR" property="picLoc" />
    <result column="brandStory" jdbcType="VARCHAR" property="brandStory" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="state" jdbcType="TINYINT" property="state" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, firstLetter, sort, factoryStatus, showStatus, proCount, commentCount, logo, 
    picLoc, brandStory, ctime, state
  </sql>

  <select id="fondByLogo" parameterType="string" resultType="com.ke.mall.model.PmsBrand">
    select * from pms_brand
    where logo = #{logo}
    order by ctime desc
    limit 1
  </select>

  <select id="findAll" resultType="com.ke.mall.model.PmsBrand">
    select
    *
    from pms_brand
  </select>

  <insert id="insert" parameterType="com.ke.mall.model.PmsBrand" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into pms_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="firstLetter != null">
        firstLetter,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="factoryStatus != null">
        factoryStatus,
      </if>
      <if test="showStatus != null">
        showStatus,
      </if>
      <if test="proCount != null">
        proCount,
      </if>
      <if test="commentCount != null">
        commentCount,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="picLoc != null">
        picLoc,
      </if>
      <if test="brandStory != null">
        brandStory,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null">
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="factoryStatus != null">
        #{factoryStatus,jdbcType=TINYINT},
      </if>
      <if test="showStatus != null">
        #{showStatus,jdbcType=TINYINT},
      </if>
      <if test="proCount != null">
        #{proCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="picLoc != null">
        #{picLoc,jdbcType=VARCHAR},
      </if>
      <if test="brandStory != null">
        #{brandStory,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT})
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.ke.mall.model.PmsBrand">
    update pms_brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null">
        firstLetter = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="factoryStatus != null">
        factoryStatus = #{factoryStatus,jdbcType=TINYINT},
      </if>
      <if test="showStatus != null">
        showStatus = #{showStatus,jdbcType=TINYINT},
      </if>
      <if test="proCount != null">
        proCount = #{proCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        commentCount = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="picLoc != null">
        picLoc = #{picLoc,jdbcType=VARCHAR},
      </if>
      <if test="brandStory != null">
        brandStory = #{brandStory,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="deleteByPrimaryKey" parameterType="long">
    update pms_brand
    set state = 0
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
    from pms_brand
    where id = #{id,jdbcType=BIGINT}
    limit 1
  </select>


  <update id="updateByPrimaryKeySelective" parameterType="com.ke.mall.model.PmsBrand">
    update pms_brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null">
        firstLetter = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="factoryStatus != null">
        factoryStatus = #{factoryStatus,jdbcType=TINYINT},
      </if>
      <if test="showStatus != null">
        showStatus = #{showStatus,jdbcType=TINYINT},
      </if>
      <if test="proCount != null">
        proCount = #{proCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        commentCount = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="picLoc != null">
        picLoc = #{picLoc,jdbcType=VARCHAR},
      </if>
      <if test="brandStory != null">
        brandStory = #{brandStory,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>