<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ke.mall.service.mapper.RedPacketMapper">
  <resultMap id="BaseResultMap" type="com.ke.mall.model.RedPacket">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="sendDate" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="perAmount" jdbcType="DECIMAL" property="perAmount" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, amount, sendDate, total, perAmount, stock, version, note
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from red_packet
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="decrementRedPacket" parameterType="integer">
    update red_packet
    set stock = stock - 1
    where id = #{id,jdbcType=INTEGER}
  </update>






  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from red_packet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ke.mall.model.RedPacket">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into red_packet (userId, amount, sendDate, 
      total, perAmount, stock, 
      version, note)
    values (#{userId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{sendDate,jdbcType=TIMESTAMP}, 
      #{total,jdbcType=INTEGER}, #{perAmount,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ke.mall.model.RedPacket">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into red_packet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        userId,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="sendDate != null">
        sendDate,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="perAmount != null">
        perAmount,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="sendDate != null">
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="perAmount != null">
        #{perAmount,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ke.mall.model.RedPacket">
    update red_packet
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="sendDate != null">
        sendDate = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="perAmount != null">
        perAmount = #{perAmount,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ke.mall.model.RedPacket">
    update red_packet
    set userId = #{userId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      sendDate = #{sendDate,jdbcType=TIMESTAMP},
      total = #{total,jdbcType=INTEGER},
      perAmount = #{perAmount,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>